{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "import"
    ],
    "settings": {
        "import/resolve": {
            "extensions": [".js", ".jsx"]
        }
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prefer-stateless-function": 2,  // Enforce stateless React Components to be written as a pure function
        "react/jsx-no-bind": 2,  // No .bind() or Arrow Functions in JSX Props
        "react/jsx-indent": [2, 2],  // Validate JSX indentation
        "react/no-multi-comp": 2,  // Prevent multiple component definition per file
        "react/sort-comp": 2,  // Enforce component methods order
        "react/require-render-return": 2,  // Enforce ES5 or ES6 class for returning value in render function
        "react/no-unknown-property": 2,  // Prevent usage of unknown DOM property
        "react/no-string-refs": 2,  // Prevent using string references
        "react/no-direct-mutation-state": 2,  // Prevent direct mutation of this.state
        "react/no-did-update-set-state": 2,  // Prevent usage of setState in componentDidUpdate
        "react/no-deprecated": 2,  // Prevent usage of deprecated methods

        "import/no-unresolved": [
            2, {"commonjs": true, "amd": true}
        ],
        "import/named": 2,
        "import/namespace": 2,
        "import/default": 2,
        "import/export": 2,
        "import/newline-after-import": 2,

        "indent": [
            "error",
            4,
            {"SwitchCase": 1}
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "lines-around-comment": 0,
        "quotes": [
            "error",
            "single"
        ]
    },
    "globals": {
        "jest": true,
        "expect": true,
        "mockFn": true,
        "config": true,

        "afterEach": true,
        "beforeEach": true,
        "describe": true,
        "it": true,
        "runs": true,
        "waitsFor": true,
        "pit": true,
        "require": true,
        "xdescribe": true,
        "xit": true
    }    
}
